  <header class="page-header">
    <h1>Nos Services</h1>
    <p>Prestation de service d’ingénierie informatique et de télécommunication, développement des logiciels et applications, fourniture de matériel informatique et télécommunication, génie civil des télécoms, commerce général, infogérance .</p>
  </header>

  <section class="services-section">
    <div class="service-card">
      <img src="assets/images/ecran3.jpg" alt="Vente d'ordinateurs">
      <h2>Vente d'Ordinateurs</h2>
      <p>Large gamme de PC portables, PC de bureau, stations de travail pour tous les usages professionnels et personnels.</p>
    </div>

    <div class="service-card">
      <img src="assets/images/istockphoto-1096558752-612x612.jpg" alt="Périphériques & Accessoires">
      <h2>Périphériques & Accessoires</h2>
      <p>Claviers, souris, webcams, casques, imprimantes, onduleurs et tout ce qu’il vous faut pour compléter votre équipement.</p>
    </div>

    <div class="service-card">
      <img src="assets/images/scr.jpg" alt="Matériel Réseau">
      <h2>Matériel Réseau</h2>
      <p>Routeurs, switchs, points d’accès, câblage, et solutions pour réseaux domestiques et professionnels.</p>
    </div>

    <div class="service-card">
      <img src="assets/images/install.jpg" alt="Installation et configuration">
      <h2>Installation & Configuration</h2>
      <p>Assistance pour l'installation de vos équipements, configuration de logiciels et paramétrage réseau sur site ou à distance.</p>
    </div>

    <div class="service-card">
      <img src="assets/images/SAV.png" alt="Service Après-Vente">
      <h2>Service Après-Vente (SAV)</h2>
      <p>Diagnostic, réparation, garantie, échange ou retour. Un support fiable pour vous accompagner après l’achat.</p>
    </div>

      <div class="service-card">
  <img src="assets/images/site_web.png" alt="Création de sites web">
  <h2>Création de Sites Web</h2>
  <p>
    Conception et développement de sites vitrines, e-commerce et plateformes sur mesure, optimisés pour tous les écrans et adaptés à vos objectifs professionnels.
  </p>
</div>

<div class="service-card">
  <img src="assets/images/securité.png" alt="Sécurité informatique">
  <h2>Sécurité Informatique</h2>
  <p>
    Audit, protection des données, pare-feux, antivirus, sauvegarde cloud : nous sécurisons vos systèmes informatiques contre les menaces internes et externes.
  </p>
</div>

  </section>