
<header class="page-header">
    <h1>Ordinateurs de bureau</h1>
    <p>Découvrez notre sélection d’ordinateurs de bureau adaptés à tous vos besoins : performance, design et fiabilité pour le travail, le gaming ou la création. Trouvez le modèle qui vous correspond et boostez votre quotidien !</p>
  </header>
<div class="ordinateurs-list">
   
    <div class="ordinateur-item">
        <h2>Tout-en-un (All-in-One)</h2>
        <img src="assets/images/Tout-en-un (All-in-One).jpg" alt="Tout-en-un" style="max-width:200px;">
        <p>L’unité centrale est intégrée à l’écran<br>
        Design épuré, gain de place, usage familial ou professionnel</p>
        <a href="assets/images/Tout-en-un (All-in-One).jpg" target="_blank">Voir l'image</a>
    </div>
    <div class="ordinateur-item">
        <h2>Stations de travail (Workstation)</h2>
        <img src="assets/images/station_travail.jpg" alt="Station de travail" style="max-width:200px;">
        <p>Machines puissantes dédiées au calcul intensif, graphisme, modélisation 3D </p> 
        <ul>
            <li>Processeurs hautes performances</li>
            <li>Cartes graphiques professionnelles</li>
            <li>Format le plus courant pour le travail</li>
        </ul> 
        <a href="assets/images/station_travail.jpg" target="_blank">Voir l'image</a>
         
    </div>
  <footer class="footer">
    © 2024 Soft Technology Sarl. Tous droits réservés.
  </footer>
</div>
