
<body>

  <header class="page-header">
    <h1>Nous Contacter</h1>
    <p>Une question ? Un besoin ? Nous sommes à votre écoute.</p>
  </header>

  <section class="contact-section">
    <div class="contact-card">
      <h2>Par téléphone</h2>
      <p>📞 Appelez-nous au <strong>+237 6 21 13 41 52</strong><br>(de lundi à samedi de 8h à 18h)</p>
    </div>

    <div class="contact-card">
      <h2>Par e-mail</h2>
      <p>📧 Envoyez-nous un message à :<br><strong><a href="mailto:contact@softtech.cm">contact&#64;softtech.cm</a></strong></p>
    </div>

    <div class="contact-card">
      <h2>Adresse physique</h2>
      <p>📍 Soft Technology Sarl<br>Yaoundé, Cameroun<br>Avenue Kennedy</p>
    </div>
  </section>

</body>







  <footer style="font-size:1.1rem; color:#888; letter-spacing:2px;">
    © 2024 Soft Technology Sarl. Tous droits réservés.
  </footer>